<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form  align="center" th:method="PATCH" th:action="@{/students/{id}(id=${student.id},groupId=${param.groupId})}" th:object="${student}">

  <label for="firstName">Enter FirstName</label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <br>
  <label for="lastName">Enter LastName</label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br>
  <label for="email">Enter Email</label>
  <input type="text" th:field="*{email}" id="email"/>
  <br>
  <label for="studyFormat">Enter StudyFormat</label>
  <input type="text" th:field="*{studyFormat}" id="studyFormat"/>
  <br>
  <input type="submit" value="Update!!"/>

</form>
</body>
</html>