<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher-page</title>
  <style>
    table, th, td {
      border: 2px solid #3215e7;
    }
  </style>
</head>
<body>
<table align="center">
  <tr>
    <th>Id</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>email</th>
    <th></th>
    <th></th>
  </tr>
  <tbody th:each="teacher: ${teachers}">
  <tr>
    <td><p th:text="${teacher.getId()}"></p></td>
    <td><p th:text="${teacher.getFirstName()}"></p></td>
    <td><p th:text="${teacher.getLastName()}"></p></td>
    <td><p th:text="${teacher.getEmail()}"></p></td>
    <td>
      <a th:href="@{/teachers/{id}/edit(id=${teacher.id},courseId=${param.courseId})}">
        <input type="submit" value="Update"></a>
    </td>
    <td>
      <form th:method="DELETE" th:action="@{/teachers/{id}/delete(id=${teacher.id},courseId=${param.courseId})}">
        <input type="submit" value="Delete"/>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<hr>

<div style='text-align:center; width:100%'><a th:href="@{/teachers/newTeacher(courseId=${param.courseId})}">Create new Teacher</a><a></a></div>

<br>

<div style='text-align:center; width:100%'><a  href="/">Main</a><a></a></div>
<!--<a href="/">Main</a>-->
</body>
</html>