<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
  <style>
    table, th, td {
      border: 3px solid #2c1c96;
    }
  </style>
</head>
<body>
<table align="center">
  <tr>
    <th>Id</th>
    <th>GroupName</th>
    <th>DateOfStart</th>
    <th>DateOfFinish</th>
    <th>Students</th>
    <th></th>
    <th></th>
  </tr>
  <tbody th:each="group : ${groups}">
  <tr>
    <td th:text="${group.id}"></td>
    <td th:text="${group.groupName}"></td>
    <td th:text="${group.dateOfStart}"></td>
    <td th:text="${group.dateOfFinish}"></td>

    <td><a th:href="@{/students(groupId=${group.id})}">Students</a>
    </td>
    <td>
      <a th:href="@{/updateGroup(groupId=${group.id},companyId=${param.companyId})}">
        <button>update</button>
      </a>
    </td>
    <td><a th:href="@{/deleteGroup(groupId=${group.id},companyId=${param.companyId})}">
      <button>delete</button>
    </a></td>
  </tr>
  </tbody>
</table>
<br><br>
<div style='text-align:center; width:100%'>
  <a th:href="@{/addGroup(companyId=${param.companyId})}">
  <button>Add group</button>
</a>
</div>

<br>
<!--<div style='text-align:center; width:100%'><a href="/addGroup"> <button>Add a group</button></a></div>-->
<div style='text-align:center; width:100%'><a href="/">Main</a><a></a></div>
<!--<a href="/">Main</a>-->
</body>
</html>