<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
  <style>
    table, th, td {
      border: 4px solid #2c1c96;
      margin-top: 150px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      size: 300px;
      height: 50px;
    }

  </style>

</head>
<body>
<table align="center">
  <tr>
    <th>Id</th>
    <th>CompanyName</th>
    <th>LocatedCountry</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tbody th:each="company: ${companies}">
  <tr>
    <td><p th:text="${company.getId()}"></p></td>
    <td><p th:text="${company.getCompanyName()}"></p></td>
    <td><p th:text="${company.getLocatedCountry()}"></p></td>
    <td>
      <a th:href="@{/courses(companyId=${company.id})}">Course</a>
    </td>
    <td>
      <a th:href="@{/getGroups(companyId=${company.id})}">Groups</a>
    </td>
    <td>
      <a th:href="@{/{id}/edit(id=${company.getId()})}">
        <input type="submit" value="Update">
      </a>
    </td>
    <td>
      <form th:method="DELETE" th:action="@{/{id}(id=${company.getId()})}">
        <input class="button" type="submit" value="Delete"/>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<hr>

<div style='text-align:center; width:100%'><a><a href="/newCompany">Create new Company</a></a></div>


<svg viewbox="0 0 100 20">
  <defs>
    <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
      <stop offset="5%" stop-color="#326384"/>
      <stop offset="95%" stop-color="#123752"/>
    </linearGradient>
    <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
      <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z"
            mask="url(#mask)" fill="url(#gradient)">
        <animateTransform
                attributeName="transform"
                begin="0s"
                dur="1.5s"
                type="translate"
                from="0,0"
                to="40,0"
                repeatCount="indefinite"/>
      </path>
    </pattern>
  </defs>
  <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#wave)" fill-opacity="0.6">peaksoft</text>
  <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#gradient)" fill-opacity="0.1">peaksoft</text>
</svg>

</body>

</html>